name: Sync to Personal Repo

on:
  push:
    branches:
      - main

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Org Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to Personal Repo
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git remote add personal https://x-access-token:${PERSONAL_TOKEN}@github.com/roginandd/vista-api
          git push personal main --force
